{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <div class="login container justify-content-center align-items-center row">
        <div class="container col-6 text-center">
        <h1>Inscriver-vous maintenant</h1>
            <a href="{% url 'signup' %}" class="btn btn-outline-dark">S'inscrire</a>
        </div>
        <div class="container col-6 text-center">
        <h1>Connectez-vous</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ form.username }}
                </div>
                <div class="form-group mb-3">
                    {{ form.password }}
                </div>
                <button class="btn btn-outline-dark ms-auto d-block" type="submit">Se connecter</button>
            </form>
        </div>
    </div>
{% endblock %}