<div class="ticket">
    <p>{{ post.ticket.user }} a demandé une critique</p>
    <p>Créé le : {{ post.ticket.time_created }}</p>
    <p>{{ post.ticket.title }} - {{ post.ticket.author }}</p>
    <p>{{ post.ticket.description }}</p>
    {% if post.ticket.image %}
        <img src="{{ post.ticket.image.image.url }}" alt="Image associée au ticket" style="max-width: 200px;">
    {% endif %}
    {% if not ticket.reviews.filter(user=request.user).exists %}
        <a href="{% url 'create_review' ticket.id %}" class="btn btn-primary">Créer une critique</a>
    {% endif %}
</div>