{% extends 'base.html' %}

{% block content %}

    <a href="{% url 'create_ticket' %}" class="btn btn-primary">Demander une critique</a>
    <a href="{% url 'create_ticket_review' %}" class="btn btn-primary">Publier une critique</a>

    <hr>

    {% for post in posts %}
        {% if post.type == 'review' %}
            <!-- Affichage pour une critique -->
            {% include 'blog/partials/review_snippet.html' with review=post.review %}


        {% elif post.type == 'ticket' %}
            <!-- Affichage pour un ticket -->
            {% include 'blog/partials/ticket_snippet.html' with ticket=post.ticket %}
        {% endif %}

    <hr>
    {% empty %}
        <p>Vous n'avez encore rien publié.</p>
    {% endfor %}

{% endblock %}