{% extends 'base.html' %}


{% block content %}
    <h1>Vos posts</h1>

    <hr>

    {% for post in posts %}
        {% if post.type == 'review' %}
            <!-- Affichage pour une critique -->
            {% include 'blog/partials/review_snippet.html' %}
            <div class = "container">
                <a href="{% url 'edit_review' post.review.id %}" class="btn btn-outline-dark">Modifier</a>
                <form action="{% url 'delete_review' post.review.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-dark">Supprimer</button>
                </form>
            </div>
        {% elif post.type == 'ticket' %}
            <!-- Affichage pour un ticket -->
            {% include 'blog/partials/ticket_snippet.html' with post=post %}
            {% if not ticket|is_ticket_already_reviewed:user %}
                <a href="{% url 'create_review' post.ticket.id %}" class="btn btn-primary">Créer une critique</a>
            {% endif %}
            <div class = "container">
                <a href="{% url 'edit_ticket' post.ticket.id %}" class="btn btn-outline-dark">Modifier</a>
                <form action="{% url 'delete_ticket' post.ticket.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-dark">Supprimer</button>
                </form>
            </div>
        {% endif %}
    <hr>
    {% empty %}
        <p>Vous n'avez encore rien publié.</p>
    {% endfor %}
{% endblock %}